* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.login {
  background-color: white;
  width: 40em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alter-login {
  width: 80%;
  height: 3em;
  display: inline;
  align-items: center;
  justify-content: space-around;
}
.alter-login div {
  width: 50%;
  height: 100%;
  margin: 60px;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .google {
  background-image: url(../icons/google.png);
  width: 100%;
} */
/* 
.google:hover {
  transform: scale(1.2);
} */

.loginInput {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 3.5em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 1.5em;
}

input:focus {
  outline-color: red;
  /*rgb(32, 177, 255)*/
}

.login-button {
  background-color: red !important;
  width: 40%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  color: aliceblue;
}

.login-button:hover {
  transform: scale(1.2);
}

.text {
  position: relative;
  bottom: -2em;
}

.hide {
  position: absolute;
  transform: scale(0); /* prevent popup from showing */
}

.message {
  text-align: center;
}

.login-popup {
  position: absolute;
  height: 10em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  bottom: 20em;
  transform: scale(1.2);
  transition: 1.5s;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.form-control {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(229, 226, 226);
  height: 3.5em;
  width: 100%;
  border-radius: 0.25em;
  text-align: center;
}

.login h1 {
  color: black;
}

.login h2 {
  color: black;
}
